<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
			<img src="./logo.png"></img>
			<a class="btn btn-danger" ng-click="showRating(currentRoom.$id)" style="margin-top: 20px;">Leave Room</a><br>
			<strong><h3>Chatting in</h3></strong>
			<h1>{{currentRoom.name}}</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="list-group" ng-show="chatList.length">
				<div class="list-group-item clearfix" ng-repeat="chat in chatList">
					<div class="pull-right">
						<p>
						<strong>{{chat.user_id}} : </strong>{{chat.message}}
						</p>
					</div>
				</div>
			</div>
		<input type="text" name="message" ng-model="message.text" placeholder="type your message..." style="margin-bottom: 20px; width: 420px" class="col-sm-5 col-sm-offset-3 messageContent">
		<button ng-click="sendMessage(roomid)" class="btn btn-sm btn-danger" style="margin-bottom: 20px;">Send</button>
		</div>
	</div>
</div>


<div id="ratingModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    <h4 class="modal-title">Rate the helpfulness of this tutor!</h4>
			  </div>
			  <div class="modal-body">
			    <input type="number" class="form-control modal-form" ng-model="leaveRating.rating" placeholder="1-5">
			  </div>
			  <div class="modal-footer">
			    <a class="btn btn-lg btn-block btn-success" ng-click="addRating(currentRoom.$id)">
					Add
				</a>
			  </div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
