<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
			<img src="./logo.png"></img>
			<h3 ">Sign in with</h3>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3" ng-hide="isLoggedIn" style="text-align: center;">
			<a ng-click="loginWithGoogle()"><i class="fa fa-google" aria-hidden="true" style="font-size: 75px; padding: 20px;"> </i></a>
			<a ng-click="loginWithTwitter()"><i class="fa fa-twitter" aria-hidden="true" style="font-size: 75px; padding: 20px;"> </i></a>
    </button>
		</div>
	</div>
</div>