<div class="container">
	<div class="row">
			
		<div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
				<img src="./logo.png">
				<button ng-click="showAddRoom()" class="btn btn-secondary" style="margin-top: 20px;">Add Room</button>
				<a class="leave" ng-click="logout()" style="margin-top: 20px;">logout</a> <br>
				<h3>Rooms</h3>
			<div class="list-group listings" ng-hide="roomsList.length">
				<p>No tutors available!</p>
			</div>
			<div class="list-group listings" ng-show="roomsList.length">
				<div  ng-repeat="room in roomsList">
					<div class="list-group-item clearfix" ng-hide="room.occupied">
						<div style="text-align: center;">
							<p> 
								<strong>{{room.name}}
								</strong>
							</p>
							<a ng-click="addJoinerToRoom(room.$id)" class="btn btn-secondary btn-block" href="#/chat/{{room.$id}}">JOIN</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
			<h3>Ratings</h3>
			<div class="list-group listings" ng-hide="currentUser.reviews.length">
				<p>No ratings available!</p>
			</div>
			<div class="list-group listings" ng-show="currentUser.reviews.length">
				<div ng-repeat="reviews in currentUser.reviews">
					<div class="list-group-item clearfix">
						<div style="text-align: center;">
							<p> 
								<strong>{{reviews.room}}</br></strong>{{reviews.name}} left you a rating of {{reviews.rating}}!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="addRoomModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    <h4 class="modal-title">Add a Room</h4>
			  </div>
			  <div class="modal-body">
			    <input type="text" class="form-control modal-form" ng-model="newRoom.name" placeholder="Room name">
			  </div>
			  <div class="modal-footer">
			    <a class="btn btn-lg btn-block btn-success" ng-click="addRoom(newRoom)">
					Add
				</a>
			  </div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
